body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url("bergen.jpeg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: rgba(0, 80, 181, 0.8);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffe8e8;
    padding: 20px;
}

header img {
    float: left;
    margin-right: 20px;
}


h1 {
    font-size: 36px;
    text-align: center;
}

.contact-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
}

.contact-info a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.container {
    max-width: 800;
    margin: 10px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(91, 91, 91, 0.1);
}

.container .section h2 {
    font-size: 30;
    margin-bottom: 5;
    color: #0050B5;
}

.container .section a strong {
    font-size: 20;
}

.container .section a {
    font-size: 17;
}

.section {
    margin: 10px 0;
    text-align: center;
}

.container .section a img {
    vertical-align: middle;
    margin-left: 5px;
}